@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:wght@400;700&family=Dancing+Script:wght@400..700&family=Josefin+Sans:wght@500&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Bubbles&family=Rubik+Doodle+Shadow&family=Rubik+Glitch&family=Sevillana&family=Single+Day&display=swap");
.sport__container {
  background-color: black;
  min-height: 100vh;
  color: white;
  font-family: Roboto;
  font-weight: 700;
}
.header__sport {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 4%;
}
.header__sport-all {
  background-color: rgb(18, 18, 18);
  border: none;
  border-radius: 5px;
  width: 70px;
  height: 40px;
  font-family: Roboto;
  color: gray;
  font-size: 15px;
  font-weight: 800;
}
.header__liga {
  font-size: 25px;
}
.arrow {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  position: absolute;
  z-index: 5;
}

.matches__container-link {
  text-decoration: none;
}

.matches__container-p {
  color: white;
  position: relative;
  display: inline-block;
  font-size: 24px;
}
.matches__container-pp {
  color: white;
  position: relative;
  display: inline-block;
  font-size: 24px;
}
.matches__container-p::after {
  content: ">";
  font-size: 40px;
  margin-left: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

.matches__container-p:hover::after {
  opacity: 1;
  color: white;
}
.matches__container {
  margin-left: 4%;
}
.b img {
  width: 356px;
}
.matches__container {
  margin-bottom: 1%;
}
.matches__container2 {
  margin-bottom: 1%;
  margin-left: 4%;
}

.container__slider {
  margin-top: 4%;
}
.telekanal {
  width: 356px;
  height: 200px;
  background-color: rgb(20, 19, 19);
  transition: transform 0.3s ease;
}
.telekanal:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

.b {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.b::before {
  content: "";
  background-image: url("https://cdn.icon-icons.com/icons2/1094/PNG/512/playbutton_78507.png");
  background-size: cover;
  position: absolute;
  top: 42%;
  left: 48%;
  width: 0;
  height: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}

.b:hover {
  transform: scale(1.1);
}

.b:hover::before {
  width: 17.5%;
  height: 25%;
  opacity: 1;
}
.b2 {
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease,
    opacity 0.3s ease;
}
.b2:hover {
  transform: scale(1.1);
  width: 13.5%;
  height: 10%;
}
.b6 {
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease,
    opacity 0.3s ease;
}
.b6:hover {
  transform: scale(1.1);
  width: 13.5%;
  height: 10%;
}
.b5 {
  margin-left: 7%;
  margin-top: 5%;
}
.b5:hover {
  width: 13.5%;
  height: 10%;
}
/* ! navbat start */
.burger-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 15px;
  background-color: transparent;
  margin-left: -150%;
  margin-top: 20%;
}

.bar {
  width: 100%;
  height: 2.5px;
  background-color: #6c6b6b;
  transition: transform 0.3s ease;
}
.mainHover:hover {
  transform: scale(1.1);
}
.nav__sport {
  font-family: Roboto;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav__planet-animation {
  animation: rotateAnimation 4s infinite linear;
}

/* ! navbat finish */
/* ! footer start */
.footer__sport {
  color: white;
}

.container__footer-sport {
  font-weight: 200;
  margin-top: 0.5%;
  text-align: center;
}
.container__footer-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.container__footer-icons {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-left: 43.5%;
  margin-top: 1.5%;
}
/* ! footer finish */
/* ! OnlineCinema start nav */
.nav__sport2 {
  font-family: Roboto;
  color: white;
  background-color: rgb(21, 20, 20);
  opacity: 0.8;
}
.nav__iframe {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 170%;
  /* height: 100%; */
}
.nav__description-container {
  color: white;
  font-family: Comic Neue;
  margin-left: 5%;
  margin-top: 10%;
  width: 490px;

  text-align: center;
}
.nav__description-p {
  font-weight: 600;
  font-size: 47px;
  margin: 0;
}
.nav__description-ballada {
  font-size: 28px;
  margin: 0;
}
.nav__description7 {
  font-weight: 200;
}
.nav__description2 {
  font-size: 26px;
  font-weight: 500;
}

.movie_button2 {
  display: flex;

  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 20px;
  padding: 14px;
  width: 40%;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  border-radius: 1000px;
  background: linear-gradient(135deg, #f50 69.93%, #d6bb00);
}
.movie_button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 20px;
  padding: 14px;
  width: 25%;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  border-radius: 1000px;
  background-color: rgb(14, 13, 13);
}
.movie_subtitle-button-icon2 {
  display: flex;
  gap: 2%;
  align-items: center;
}

@media screen and (max-width: 760px) {
  .logo_nav {
    display: none;
  }
  .nav__description-p {
    font-size: 26px;
  }
  .nav__description-ballada {
    font-size: 26px;
  }
  .nav__description2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  .menuaa {
    margin-right: 20% !important;
    font-size: 15px !important;
  }
  .audiou {
    display: none;
  }
  .nav__description-p {
    font-size: 16px;
    margin-right: 30%;
  }
  .nav__description-ballada {
    font-size: 16px;
    margin-right: 30%;
  }
  .nav__description2 {
    /* font-size: 5px; */
    width: 70%;
  }
  .nav__description-container {
    margin-right: 30%;
    width: 90%;
  }
  .nav__description7 {
    margin-right: 20%;
  }
  .movie_subtitle-button-icon2 {
    width: 70%;
  }
  .container__footer-icons {
    display: none;
  }
}
@media screen and (max-width: 330px) {
  .nav__sport2 {
    margin-right: 100% !important;
    font-size: 15px !important;
  }
}

@media screen and (max-width: 768px) {
  .theme {
    display: none;
  }
  .audios {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .menua {
    font-size: 15px;
  }
}

/* ! OnlineCinema finish nav */
