.movie_header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 50px;
  padding: 40px 0 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: #000;
    font-weight: bold;
    font-family: Roboto;
  }
  ul {
    list-style: none;
    display: flex;
    li {
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.6);
      transition-timing-function: ease-out;
      transition-duration: 0.1s;
      transition-property: color;
      font-family: Roboto;
    }
  }
}
