@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.main_login {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 10%
    ),
    url("https://yastatic.net/s3/passport-auth-customs/customs/_/2V4FB5Yu.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.formwrapper_login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
}

.form_login {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 48px;
  border: 2px solid white;
  padding: 80px 30px;
  border-radius: 12px;
  background-color: rgb(201, 199, 199);
}

.form__text_login {
  font-weight: 500;
  font-size: 32px;
  color: rgb(249, 247, 247);
}

.form__input_login {
  background-color: rgb(249, 247, 247);
  width: 343px;
  height: 52px;
  border: none;
  border-radius: 12px;
  margin-bottom: 20px;
  text-indent: 20px;
  font-size: 15px;
  letter-spacing: 1;
}

form__input_login::placeholder {
  text-indent: 20px;

  font-family: "M PLUS 1p", sans-serif;
  color: rgb(152, 151, 151);
}

.form__input_login::placeholder {
  text-indent: 20px;
}
.input_container_login {
  display: flex;

  position: relative;
  width: 111%;
}

.form__input_pass_login {
  background-color: rgb(249, 247, 247);

  border: none;
  border-radius: 12px;

  text-indent: 20px;
  font-size: 15px;
  letter-spacing: 1;
  padding-right: 50px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  width: 100%;
  height: 6vh;
}

.adornment_login {
  position: absolute;
  top: 8%; /* Положение по вертикали */
  right: 40px; /* Положение по горизонтали */
}
.form__button_login {
  margin-top: 48px;
  width: 343px;
  height: 52px;
  border: none;
  border-radius: 12px;
  color: white;
  background-color: #292929;
}

.form__bottomlink_login {
  text-decoration: none;
  color: inherit;
}

.form__bottom_text_login {
  font-size: 15px;
  color: rgb(249, 247, 247);
}
