@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.focus-ticket-section-wrapper {
  /* position: absolute;
  left: 22%;
  top: 60%; */
  width: 70%;
  margin-top: 20px;
  overflow: hidden;
  /* margin-left: 10%; */
}

.swiper-focus {
  max-width: 1200px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  transition: transform 0.3s ease;
}

.ticket-section-wrapper {
  /* position: absolute;
  left: 22%;
  top: 125%; */
  width: 70%;
  /* margin-left: 10%; */
}
/* @media screen and (max-width: 1024px) {
  .focus-ticket-section-wrapper {
    margin-right: 30% !important;
  }
} */
