/* .outer-container {
  background-color: #f4f4f4;
  padding: 0px 30px;
  height: 100vh;
}

.white-container {
  background-color: white;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

.sidebar-container {
  width: 18%;
  padding: 0px 20px;
} */

/* .mainpage-content {
  flex: 1;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 80%;
}

.header-and-tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.focusTickets-div {
  /* position: relative; */
/* overflow: hidden; */
/* }  */

.outer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.white-container {
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  width: 100%; /* Ширина вашей боковой панели */
}

.mainpage-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 80%;
}
