* {
  margin: 0;
  padding: 0;
  font-family: "M PLUS 1p", sans-serif;
  color: mediumgrey;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image__top {
  width: 480px;
  height: 510px;
}

.image__lorby {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 500;
  font-size: 48px;
  margin-top: 40px;
}
.image__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 28px;
}

.form__main_text {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: rgb(34, 33, 33);
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.codeInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__input {
  height: 64px;
  width: 56px;
  border: none;
  border-radius: 12px;
  background-color: rgb(235, 233, 233);
  margin-right: 12px;
}

.form__input::placeholder {
  color: black;
  pointer-events: none;
  font-weight: 700;
  position: absolute;
  top: 28px;
}

button {
  background-color: rgb(218, 216, 216);
  width: 343px;
  height: 50px;
  border: none;
  border-radius: 12px;
  margin-top: 60px;
  font-size: 16px;
  color: rgb(42, 42, 42);
  margin-bottom: 30px;
}

.form__bottom_text {
  text-decoration: none;
  color: rgb(14, 14, 14);
}
