@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Josefin+Sans:wght@500&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Bubbles&family=Rubik+Doodle+Shadow&family=Rubik+Glitch&family=Sevillana&family=Single+Day&display=swap");
body {
  margin: 0px;
  padding: 0px;
}

.input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px; /* Adjust the max-width based on your design */
  margin: auto;
  padding: 20px;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10%;
}

.input input {
  width: calc(
    30% - 10px
  ); /* Adjust the width and margin based on your design */
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: linear-gradient(135deg, #f50 69.93%, #d6bb00);
}

.input select {
  width: calc(
    30% - 10px
  ); /* Adjust the width and margin based on your design */
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: linear-gradient(135deg, #f50 69.93%, #d6bb00);
}

.button {
  width: 29.1%; /* Adjust the width based on your design */
  background-color: #f50;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  height: 10%;
}

.button:hover {
  background-color: rgb(49, 48, 48);
}

.h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}
