@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Josefin+Sans:wght@500&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Bubbles&family=Rubik+Doodle+Shadow&family=Rubik+Glitch&family=Sevillana&family=Single+Day&display=swap");
body {
  margin: 0px;
  padding: 0px;
}

.pagination__button_active {
  background-color: #fa4248 !important;
  color: white !important;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.pagination__button {
  transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-8deg)
    skewY(-20deg);
  padding: 0.3em 0.6em;
  background-color: #edebeb;

  color: #8b969c;
}

.pagination__button:hover {
  background-color: #fa4248;
  border: 1px solid #fff;
}

.pagination__button-back:hover {
  color: #fa4248;
  background-color: #edebeb;
}
